<p id="notice"><%= notice %></p>

<p>
  <strong>Datesent:</strong>
  <%= @invoice.DateSent %>
</p>

<p>
  <strong>Datepage:</strong>
  <%= @invoice.DatePage %>
</p>

<p>
  <strong>Numey:</strong>
  <%= @invoice.NumEY %>
</p>

<p>
  <strong>Orderno:</strong>
  <%= @invoice.OrderNo %>
</p>

<p>
  <strong>Acccode:</strong>
  <%= @invoice.AccCode %>
</p>

<p>
  <strong>Prdname:</strong>
  <%= @invoice.PrdName %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @invoice.OwnerName %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @invoice.PhoneNo %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @invoice.MobileNo %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @invoice.ZipCode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invoice.Address %>
</p>

<p>
  <strong>Iweight:</strong>
  <%= @invoice.iWeight %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @invoice.Name1 %>
</p>

<p>
  <strong>Cnt1:</strong>
  <%= @invoice.Cnt1 %>
</p>

<p>
  <strong>Iprice:</strong>
  <%= @invoice.iPrice %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @invoice.Memo %>
</p>

<p>
  <strong>Ipage:</strong>
  <%= @invoice.iPage %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
