<p id="notice"><%= notice %></p>

<p>
  <strong>Prdname:</strong>
  <%= @product.PrdName %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @product.OwnerName %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @product.PhoneNo %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @product.MobileNo %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @product.ZipCode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @product.Address %>
</p>

<p>
  <strong>Iweight:</strong>
  <%= @product.iWeight %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @product.Name1 %>
</p>

<p>
  <strong>Cnt1:</strong>
  <%= @product.Cnt1 %>
</p>

<p>
  <strong>Iprice:</strong>
  <%= @product.iPrice %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @product.Memo %>
</p>

<p>
  <strong>Ipage:</strong>
  <%= @product.iPage %>
</p>

<p>
  <strong>Orderno:</strong>
  <%= @product.OrderNo %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
